In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

In [7]:
df = pd.read_csv('general_data.csv')

In [8]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [16]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

### For all the condition check value of alpha is 0.5

* We will check all the continues features and there relation between attrition 
* If there is relation then print r value and if there is no relation print the statement
* For all the cases the 
* H0: There is no relation
* H1 : There is realtion between two variable

In [23]:
list_two_check = ['Age' , 'DistanceFromHome' , 'MonthlyIncome' , 'PercentSalaryHike' , 'MonthlyIncome' , 'TrainingTimesLastYear' , 'YearsAtCompany', 'YearsSinceLastPromotion' , 'YearsWithCurrManager']
for i in list_two_check :
    stats,P = pearsonr(df['Attrition'] , df[i])
    if P >= 0.05:
        print('There is no corelation between attrition and {}'.format(i))
    else :
        if stats < 0 :
            print('There is negitive relation between {} and {} and r is {}'.format('Attrition' , i , stats))
        else :
            print('There is positive relation between {} and {} and r is {}'.format('Attrition' , i , stats))

There is negitive relation between Attrition and Age and r is -0.1592050068657796
There is no corelation between attrition and DistanceFromHome
There is negitive relation between Attrition and MonthlyIncome and r is -0.031176281698115017
There is positive relation between Attrition and PercentSalaryHike and r is 0.032532594891053514
There is negitive relation between Attrition and MonthlyIncome and r is -0.031176281698115017
There is negitive relation between Attrition and TrainingTimesLastYear and r is -0.04943057624425504
There is negitive relation between Attrition and YearsAtCompany and r is -0.13439221398997717
There is negitive relation between Attrition and YearsSinceLastPromotion and r is -0.03301877514258439
There is negitive relation between Attrition and YearsWithCurrManager and r is -0.15619931590162842